*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
  }
  .navBar {
    min-height:50px;
    background-color: #000000;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    .mainHeader{
        font-size:40px;
        font-weight: 500;
        padding:10px 0px;
        margin:auto;
    }
    .next_top_button{
        .mat-raised-button{
            border-radius: 0px;
            background-color: #4a4a4a;
            width:120px;
        }
    }
}
.content{
    display:flex;
    justify-content: center;
    .contentWrapper{
        display:flex;
        flex-direction: column;
        width:100%;
        max-width:980px;
    }
    .template{
        margin:20px 0px;
        min-height:100px;
        .subHeader{
            font-size:25px;
            padding:10px;
            color:white;
            background-color: #4a4a4a;
        }
        .example{
            padding:10px 10px;
        }
        .data{
            font-size:14px;
            line-height: 1.5;
            font-weight:350;
            //padding: 10px 0px;
            color:#4a4a4a;
        }
        span{
            color:red;
        }
        .ngclassExample{
            color:rgba(207, 57, 120, 0.575);
        }
        #propertyId{
            color:blue;
        }
        .imgMargin{
            margin-bottom: -10px;
        }
        table,td{
            border:1px solid;
            border-collapse: collapse;
            padding:7px;
        }
        .classBind{
            color:blue;
            font-weight:bold;
        }
        .layout{
            display:flex;
            justify-content: space-between;
            width:100%;
            color:#4a4a4a;
        }
        .left_layout{
            display:flex;
            width:30%; 
        }
        .right_layout{
            display: flex;
            width:70%;
        }
        .left_layout_input{
            display:flex;
            width:20%; 
        }
        .right_layout_input{
            display: flex;
            width:80%;
        }
        input[type="number"]{
            width:60px;
            height:40px;
            padding-left:10px;
        }
    }
    .title{
        padding-top: 10px;
        font-size:18px;
    }
    .padding_bottom{
        padding-bottom: 20px;
    }
    input[type="text"],[type="tel"]{
        height: 40px;
        width:50%;
        padding-left:10px;
    }
    .button_submit_layout{
        display:flex;
        justify-content: center;
        padding-top: 10px;
        width:80%;
        .mat-raised-button{
            width:100px;
        }
    }
}  
.nextButton{
    float:right;
    .mat-raised-button {
        width:120px;
        border-radius:0px;
        background-color: #4a4a4a;
    }
}
  